{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">schoolles</th>
                    <th scope="col">doelles</th>
                    <th scope="col">Teacher naam</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.schoolles }}</td>
                        <td>{{ lesson.doelles }}</td>
                        <td>{{ lesson.teacher.name }}</td>
                        <td>{{ lesson.date |date("d-m-Y") }}</td>
                        <td>{{ lesson.time |date("H:i") }}</td>
                        <td>
                            <a class="nav-link active" aria-current="page" href="{{ path('app_deletelesson', {id: lesson.id}) }}">
                                <button type="hidden" class="btn btn-danger"> delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
